<p>
  Use the buttons and/or arrow keys to start the practice...
</p>


<p>
  Starting method:<br>
  {{methods[0].name}}
</p>
<p>
  Working bell: {{workingBell}} <br>
  Errors: {{practice.errorCount}}
</p>

<div class="canvas-container" #canvasContainer>
  <canvas #canvas id="canvas"></canvas>
</div>

<div class="btns">

  <button class="left"  (click)="processKeyEvent('ArrowLeft')">&larr;</button>  
  <button class="down"  (click)="processKeyEvent('ArrowDown')">&darr;</button>  
  <button class="right" (click)="processKeyEvent('ArrowRight')">&rarr;</button>  

</div>



