
<div class="practice-container">

  <div class="canvas-container" #canvasContainer>
    Rows: {{keyPresses}}<br>
    Errors: {{errorCount}}<br>
    Average: {{errorCount/keyPresses*100 | number: '1.1-1'}}%

    <svg #svg width="300" height="600"></svg>

  </div>

  <div class="btns">
    <button class="left"  (click)="processKeyEvent('ArrowLeft')">&larr;</button>  
    <button class="down"  (click)="processKeyEvent('ArrowDown')">&darr;</button>  
    <button class="right" (click)="processKeyEvent('ArrowRight')">&rarr;</button>  
  </div>

</div>


