.practice-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: 1px green solid; */
}

svg {
  border: 1px blueviolet solid;
}

.btns {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 30%;
}

.down {
  width: 30%;
  margin-inline: auto;
}

.right {
  width: 30%;
}