
<div class="subcontainer">
  <div class="generic-flex-grow-container">

    <div class="practice-container">

      <div class="generic-flex-grow-container">

        <div class="stats">
          <div class="statsbox">
            <div class="title">Rows</div>
            <div class="stat">{{rowCount}}</div>
          </div>
          <div #scorebox class="statsbox">
            <div class="title">Score</div>
            <div class="stat">{{(rowCount-errCount)/rowCount | percent: '1.1-1'}}</div>            
          </div>
          <div class="statsbox">
            <div class="title">Timer</div>
            <div class="stat">{{_timeInMinsAndSecs(timeInSeconds)}}</div>            
          </div>                    
        </div>

        <div class="svg-container">
          <svg #svg [attr.width]="SVG_WIDTH" [attr.height]="SVG_HEIGHT"></svg>
        </div>

        <div #callbox class="callbox">
        </div>

      </div>

      <div class="arrow-btns">
        <button (click)="handleKeyPress('ArrowLeft')"> &swarr;</button>  
        <button (click)="handleKeyPress('ArrowDown')"> &darr;</button>  
        <button (click)="handleKeyPress('ArrowRight')">&searr;</button>  
      </div>

    </div>
  </div>

  <div class="nav-btn-container"> 
    <button class="nav-btns"  (click)="nav.scrollTo('options')">Back</button>  
  </div>
</div>


