.practice-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stats {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px lightgray solid; */
  padding-bottom: 0.5rem;
}

.statsbox {
  width: 30%;
  /* border-radius: 10px; */
}

.title {
  text-align: center;
  font-size: normal;
}

.stat {
  text-align: center;
  font-size: xx-large;
}

.svg-container {
  display: flex;
  margin-block: 0.5rem;
  width: 100%;
}

.svg-container > svg {
  margin-inline: auto;
}

.callbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s ease-in-out; 
}

.call {
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  padding: 0.25rem;
  transform: translateX(100vw);
}

.call.show {
  opacity: 1;
  transform: translateX(0vw);
}

.call.hide {
  opacity: 0;
  transform: translateX(-100vw);
}


.arrow-btns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 0.2rem;
}

.arrow-btns > button {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
}
