

<div class="help" [class.show]="_show">

  <div class="help-padding">

    <div class="help-button close" (click)="onHideMenu()">X</div>

    <h1>PracticeNight FAQs</h1>
    <h2>
      What is PracticeNight?
    </h2>
    <div class="answer">
      PracticeNight is a simple bell ringing simulator that allows ringers to practice change ringing methods, including
      spliced methods and touches.
    </div>
    
    <h2>
      How can I practice a method that isn't listed?
    </h2>
    <div class="answer">
      Please email the developer at &#x70;&#x72;&#x61;&#x63;&#x74;&#x69;&#x63;&#x65;&#x6e;&#x69;&#x67;&#x68;&#x74;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;.
    </div>

    <h2>
      Can I download the app?
    </h2>
    <div class="answer">
      PracticeNight is not currently available as an Android or iPhone app.  However, many browsers will allow you to 
      'install' the website on your home screen for quick access.  
    </div>

    <h2>
      Why isn't the method database more complete?
    </h2>
    <div class="answer">
      For each method, the algorithm needs some specific information about each method, including it's
      <a href="https://framework.cccbr.org.uk/version2/placenotation.html">place notation</a>, 
      <a href="https://framework.cccbr.org.uk/version2/fundamentals.html">stage</a>, long and short name, 
      a definition of what to do at a 'bob' or 'single', and some other information to make the algorithm work.
      Although databases containing some of this info are in the public domain, some data needs to be added by
      hand, which is time-consuming. 
    </div>


  </div>  

</div>


