
.two-columns {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: max-content 1fr;
}

.grid-label {
  grid-column: 1;
}

.grid-option {
  grid-column: 2;
}

.grid-header {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  grid-column: 1 / 2;
}
