<div class="subcontainer">
  <div class="generic-flex-grow-container grid">

      <div class="grid-cell grid-margin">
        <label for="selectBell">Working bell:</label>
      </div>
      <div class="grid-cell grid-margin">
        <select #selectWorkingBell [(ngModel)]="workingBell" (click)="onUpdatedOptions()" name="selectBell" id="selectBell">
          @for(wbOption of workingBellOptions; track wbOption) {
            <option value="{{wbOption}}">{{wbOption}}</option>
          }
        </select>
      </div>

      <div class="grid-cell grid-margin">
        <label for="selectBobs">Bobs:</label>
      </div>
      <div class="grid-cell grid-margin">
        <input #selectBobs type="checkbox" [(ngModel)]="bobs" (change)="onUpdatedOptions()" name="selectBobs" id="selectBobs">
      </div>

      <div class="grid-cell">
        <label for="selectSingles">Singles:</label>
      </div>
      <div class="grid-cell">
        <input #selectSingles type="checkbox" [(ngModel)]="singles" (change)="onUpdatedOptions()" name="selectSingles" id="selectSingles">
      </div>
  </div>

  <div class="nav-btn-container"> 
    <button class="nav-btns"  (click)="nav.scrollTo('methods')">Back</button>  
    <button class="nav-btns"  (click)="nav.scrollTo('practice')">Next</button>  
  </div>
</div>

