<div class="page-container">
  <div class="generic-flex-grow-container">
    <div class="two-columns">

      <div class="grid-header">
        Practice options
      </div>
      <div class="grid-label">
        <label for="selectBell">Working bell:</label>
      </div>
      <div class="grid-option">
        <select #selectWorkingBell [(ngModel)]="practiceOptions.workingBell" (click)="onChangeEmit()" name="selectBell" id="selectBell">
          @for(wbOption of workingBellOptions; track wbOption) {
            <option value="{{wbOption}}">{{wbOption}}</option>
          }
        </select>
      </div>
      <div class="grid-label">
        <label for="selectBobs">Bobs:</label>
      </div>
      <div class="grid-option">
        <input [disabled]="suppressBobsOption" type="checkbox" [(ngModel)]="practiceOptions.bobs" (change)="onChangeEmit()" name="selectBobs" id="selectBobs">
      </div>

      <div class="grid-label">
        <label for="selectSingles">Singles:</label>
      </div>
      <div class="grid-option">
        <input type="checkbox" [(ngModel)]="practiceOptions.singles" (change)="onChangeEmit()" name="selectSingles" id="selectSingles">
      </div>

      <div class="grid-header">
        Display options
      </div>

      <div class="grid-label">
        <label for="showLeadend">Leadend:</label>
      </div>
      <div class="grid-option">
        <input type="checkbox" [(ngModel)]="practiceOptions.showLeadend" (change)="onChangeEmit()" name="showLeadend" id="showLeadend">
      </div>

      <div class="grid-label">
        <label for="showHuntBells">Hunt Bells:</label>
      </div>
      <div class="grid-option">
        <input type="checkbox" [(ngModel)]="practiceOptions.showHuntBells" (change)="onChangeEmit()" name="showHuntBells" id="showHuntBells">
      </div>

      <div class="grid-label">
        <label for="showHuntBellsTrebleOnly">{{"   "}}Treble:</label>
      </div>
      <div class="grid-option">
        <input [disabled]="!practiceOptions.showHuntBells" type="checkbox" [(ngModel)]="practiceOptions.showHuntBellsTrebleOnly" (change)="onChangeEmit()" name="showHuntBellsTrebleOnly" id="showHuntBellsTrebleOnly">
      </div>      
    </div>
  </div>

  <div class="nav-btn-container"> 
    <button class="nav-btns"  (click)="nav.scrollTo('methods')">Back</button>  
    <button class="nav-btns"  (click)="nav.scrollTo('practice')">Next</button>  
  </div>
</div>

