

/* Defines the height and width of the viewport */
.root-container {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;  
  scrollbar-width: none;          /* For Firefox */
  -ms-overflow-style: none;       /* For Internet Explorer and legacy Edge */
  /* position: relative; */
}

/* These styles remove the scroll bar */
.root-container::-webkit-scrollbar { /* For WebKit browsers (Chrome, Safari, newer Edge) */
  display: none;
  width: 0; /* Ensures there is no empty space left by the scrollbar */
  height: 0;
}

/* Defines the full width of the content, one grid element of viewport width for each 'page' */
.grid-container {
  display: grid;  
  grid-template-columns: repeat(4, 100vw);
  height: 100dvh;
  /* border: red solid 2px; */
  /* position: relative */
  /* overflow: hidden; */
}


.grid-column {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: blue solid 1px; */
}

.page-container {
  height: 100dvh;
  width: var(--container-width);
  display: flex;  
  margin: 0rem;
  box-sizing: border-box;
  padding: 1rem 1rem 2rem 1rem;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* border: green 1px solid; */
}


/* For desktop size screens, use background as a visual clue to mobile optimised nature */
@media (min-width: 768px) {
  .root-container {
    background-color: lightgray;
  }
  .page-container {
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
}

.centre-vertically {
  justify-content: center;
}

.generic-flex-grow-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.nav-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-btns {
  /* border-radius: 5px;
  border: 0px solid white; */
  width: 45%;
  height: 2rem;
  margin-inline: auto;
  margin-top: 0.5rem;
  background-color: #000080;
  color:white;
  font-family:'Courier New', Courier, monospace
}

.nav-btns:disabled {
  color: slategray
}

.nav-btns:hover{
  cursor: pointer;
}


