/* Overflow needs to be set to auto to enable intersectionObserver to work with horizontal scrolling */
.root-container {
  width: 100vw;
  height: 100dvh;
  overflow-x: auto; 
}

/* These styles then remove the scroll bar */
.root-container::-webkit-scrollbar { /* For WebKit browsers (Chrome, Safari, newer Edge) */
  display: none;
  width: 0; /* Ensures there is no empty space left by the scrollbar */
  height: 0;
}

.root-container { /* For Firefox */
  scrollbar-width: none;
}


.root-container { /* For Internet Explorer and legacy Edge */
  -ms-overflow-style: none;
}

.container {
  display: grid;  
  grid-auto-flow: column;
  grid-auto-columns: 100vw;
  height: 100%;
  /* overflow-x: hidden;  
  overflow-y: hidden;   */
}


.subcontainer {
  height: 100%;
  width: 100vw;
  display: flex;  
  margin: 0rem;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.generic-flex-grow-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-btns {
  border-radius: 5px;
  width: 45%;
  margin: auto;
  background-color: darkorange;
}



