
app-practice {
  height: 100%;
  width: 100%;
}

.container {
  border: orange solid 1px;
  height: 100dvh;
  width: 400vw;
  /* display: flex;
  flex-direction: row ; */
}

.anchor {
  height: 100%;
  width: 100vw;
  margin: 0rem;
  padding: 1rem;
  border: red solid 1px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.content{
  display: flex;
  flex-grow: 1;
  border: blue solid 1px;
}

.buttons {
  display: flex;
  width: 100%;
  border: green solid 1px;

}

.one-btn-centered {
  width: 50%;
  border-radius: 5px;
  margin: auto;
  background-color: darkorange;
}


