form {
  display: block;
}

input {
  width: 90%;
}

.list-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  /* overflow: scroll;
  white-space: nowrap; */
}

.popover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gainsboro;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px grey solid;
  overflow: scroll;
  /* height:300px; */
}

.fixed {
  overflow: scroll;
}

ul {
  background-color: white;
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  width: fit-content;
}

li {
  min-width: 100%;
  width: fit-content;
  list-style-type: none;
  line-height: 1.5rem;
  background-color: whitesmoke;
  white-space: nowrap;
  /* display: inline-block; */
}

li:hover {
  cursor: pointer;
}

li:nth-child(even) {
  background-color: gainsboro;
}



